# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.idea/
.gradle/
build/
out/
/gradle
gradlew
gradlew.bat
choice_2_GffQuery.md

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar